.container{
    width: 1220px;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.btn{
    padding: 8px 30px;
    border: 1px solid transparent;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
}

.btn-primary{
    color: var(--dark);
    background: var(--pure);
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.btn-primary:hover{
    background: transparent;
    color: var(--pure);
    border-color:var(--pure) ;
}